@import 'variables';

#landing-page{

.mini-card-banner::before{
    position: absolute;
    bottom: 0;
    content:" ";
    height: 70%;
    width: 100%;
    background-color: $primary;
    border-radius: 10px;
    z-index: 0;
}

.mini-card-banner.full::before{
    position: absolute;
    bottom: 0;
    content:" ";
    height: 100%;
    width: 100%;
    background-color: $primary;
    border-radius: 10px;
    z-index: 0;
}

.carousel-indicators{
    right: unset !important;
}
.mini-card-banner.full{
    justify-content: center !important;
    img{
        width: 60% !important;
        height: auto !important;
    }
}
.mini-card-banner{
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: visible;
    border-radius: 10px;
    img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        z-index: 1;
    }
}


@media(max-width:1199px){
    .bg-landing-1,.bg-landing-2{
        background-size: 6 5%;
        background-repeat: no-repeat;
    }
}

@media(max-width:1000px){
    .bg-landing-1,.bg-landing-2{
        background-size: 75%;
        background-repeat: no-repeat;
        padding-top:10%;
    }
    .bg-landing{
        .row{
            align-items: flex-start !important;
        }
    }
}

@media(max-width:600px){
    .bg-landing-1,.bg-landing-2{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .bg-landing{
        .row{
            align-items: flex-start !important;
        }
    }
}

.hero-title{
    font-weight: bold;
    font-size: 2.2rem !important;
    line-height: 1 !important;
}
.font-norican
{
    font-family: 'Norican' !important;
}

.font-bebas
{
    font-family: 'Bebas' !important;
}

.font-montserrat
{
    font-family:  'Montserrat' !important;
}

.font-roboto
{
    font-family: 'Roboto' !important;
}

.service-cards{
    height: 70%;
}

.landing-card
{
    position: relative;
    overflow: visible;
    width:100%;
    height: 300px;
    min-height: 345px;
    padding: 30px 20px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 12px;
    .card-icon
    {
        min-height: 100px;
        width: 100%;
        // padding:30px;
        img{
            width: 70%;
        }
    }
    .card-body{
        width:100%;
    }
}

.hero-img{
    width: 100%;
    object-fit: scale-down !important;
    // position:absolute;
    // bottom: -5px;
}
.app-hero, .app-hero-sm, .app-hero-lg
{
    overflow: hidden;
    .carousel, .carousel-inner, .carousel-item, .row{
        height: 100%;
    }
}

@media(max-width:910px)
{
    .hero-title{
        font-family: 'Bebas';
        font-weight: bold;
        font-size: 2.4rem !important;
        line-height: 1.3 !important;
    }
    .landing-steps{
        padding:0 3vw !important;
    }

    .app-landing
    {
        padding: 0 0.5rem 0 0.5rem;

        .navbar{
            padding: 1rem 0.3rem;

            .app-header-logo{
                width: 150px;
            }
        }
    }

    .landing-card
    {
        margin-bottom: 10px;
        padding: 0 10px;
        .card-icon
        {
            height: 150px;
            width: 100%;
            border-radius: 0;
            padding:5px;
            display:flex;
            align-items: center;
            justify-content: center;
            img{
                width: 90px;
            }
        }
        .card-label{
            padding: 5px !important;
            h5{
                -webkit-line-clamp: 10;
                display: -webkit-box;
                overflow: hidden;
                -webkit-box-orient: vertical;
                white-space: normal;
                font-weight: 600;
            }
            h1{
                text-align: left !important;
            }
        }
    }
    .service-cards{
        height: calc(100% - 97px);
    }

    .app-hero, .app-hero-sm, .app-hero-lg
    {
        height: 90vh !important;
        .hero-img{
            width: 100%;
        }
        .carousel-inner .carousel-item .row{
            height: 100%;
        }
    }

    .card .card-header, .card .card-body{
        padding:20px !important;
    }
}

.landing-steps{
    margin-top:20vh;
    padding:0 12vw;
}
@media(max-width:450px){
    .bg-landing{
        h2, a{
            font-size: 15px !important;
        }
        h1{
            font-size: 20px !important;
        }
    }
}


@media (max-width:575.98px) {
    .navbar-top .navbar-collapse{
      flex-direction: column !important;
       a{
         margin-bottom: 10px;
       }
    }
  }
}